* {
    margin: 0;
    padding: 0;
}

.poppins {
    font-family: "Poppins", sans-serif;
}


/* Start Navbar */
.navbar {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 96px;
}

.logo h5 {
    color: rgba(58, 58, 58, 1);
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

/* End Navbar Design */
/* Start Hero Design */
.hero {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 133px;
    margin-top: 50px;
}

.hero h1 {
    color: rgba(58, 58, 58, 1);
    font-style: Bold;
    font-size: 52px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}

.hero p {
    color: rgba(58, 58, 58, 1);
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 16px;
}

.hero button {
    border-radius: 41px;
    background: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero_img {
    max-width: 445px;
    max-height: 455px;
    background-image: url("/images/Circle\ design.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* End Hero Design */
/* Start Design Social Links */
.social_links {
    width: 60%;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 43px 0px 43px 0px;
}

hr {
    background: linear-gradient(135.29deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
}

/* End Design Social Links */
/* Start Design Cart */
.container_cart {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.container_cart h2 {
    color: rgba(58, 58, 58, 1);
    font-style: SemiBold;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.carts {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.single_cart {
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);
    padding: 16px;
}

.single_cart img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.item_name {
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 8px;
}

.item_price {
    color: rgba(0, 0, 0, 0.87);
    font-style: Regular;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 8px;
}

.rating {
    color: rgba(94, 99, 102, 1);
    font-style: Bold;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
}

.rating span {
    color: tomato;
}

.item_des {
    font-style: Bold;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
}

.button_more {
    text-align: right;
    font-style: Bold;
    font-size: 14px;
    font-weight: 700;
    color: rgba(224, 44, 109, 0.87);
}

/* End Design Cart */
/* Start Design feature */
.features {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 96px;
}

.features_content h2 {
    color: rgba(10, 8, 38, 1);
    font-style: Bold;
    font-size: 38px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}

.features_content p {
    color: rgba(108, 108, 108, 1);
    font-style: Bold;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}

.features_button {
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    background: rgba(224, 44, 109, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 10px 24px 10px 24px;
    border: none;
}

/* End Design feature */
/* Start Design footer */

/* End Design footer */