* {
    margin: 0;
    padding: 0;
}

.poppins {
    font-family: "Poppins", sans-serif;
}


/* Start Navbar */
.navbar {
    width: 65%;
    max-width: 925px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 96px;
}

.logo h5 {
    color: rgba(58, 58, 58, 1);
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
/* End Navbar Design */